<h2>カレンダー登録</h2>

<% (Date.parse(session["year_month"][:year_month]["first_date"].to_s)..Date.parse(session["year_month"][:year_month]["last_date"].to_s)).each do |date| %>
  <%= form_for @day do |f| %>
    <% days = ["日", "月", "火", "水", "木", "金", "土"] %>
    <div>
      <%= f.select :date, [[date, date]] %>
      <% if days[date.wday] == "土" %>
      <span>(<%= days[date.wday] %>)</span>
        <%= f.select :day_type, [["平日"],["法定休日"],["法定外休日"]] %>
    </div>
  <% end %>
<% end %>