<div>
  <% if current_user.user_type == "上長" %>
    <span><%= current_user.department %></span>
    <span><%= current_user.last_name + " " + current_user.first_name %></span>
    
  <% else %>

  <% end %>
</div>