// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// === /requests ===

.requests-wrapper{
  padding: 0 20px;
}

.requests-wrapper td{
  text-align: center;
}

.requests-wrapper h2 i.fa-calendar-alt {
  padding-right: 10px;
}