// Place all the styles related to the travel_costs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.travel-cost-edit-btns {
  width: 500px;
  text-align: center;
}

.travel-cost-index i {
  color: rgb(3, 133, 89);
}